{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Books</h1>
        <ul class="list-group">
            {% for book in books %}
                <li class="list-group-item">
                    <a href="{{ path('book_show', { 'id': book.id }) }}">{{ book.title }}</a> by
                    {% for author in book.authors %}
                        {{ author.firstName }} {{ author.middleName }} {{ author.lastName }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
